################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WEBGit/.vs/WEBGit
/WEBGit/WEBGit/bin/Debug/netcoreapp3.1
